body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.element-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s; /* Hover effect */
  cursor: pointer;
}

.element-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#periodic-table-container {
  display: grid;
  grid-template-columns: repeat(
    18,
    1fr
  ); /* 18 columns like a real periodic table */
  gap: 5px;
  margin-top: 20px;
}

.element-card {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.element-card .symbol {
  font-weight: bold;
  font-size: 1.2rem;
}

#modalSymbol {
  color: #0d6efd;
}

/* Element Category Colors */
.alkali-metal {
  background-color: #ff9d9d;
}
.alkaline-earth-metal {
  background-color: #ffdead;
}
.transition-metal {
  background-color: #f08080;
}
.noble-gas {
  background-color: #c0d6e4;
}
.metalloid {
  background-color: #cccc99;
}
.polyatomic-nonmetal,
.diatomic-nonmetal {
  background-color: #a0ffa0;
}
.post-transition-metal {
  background-color: #cccccc;
}
.lanthanide {
  background-color: #ffbfff;
}
.actinide {
  background-color: #ff99cc;
}
.unknown,
.unknown-but-predicted-to-be-an-alkali-metal {
  background-color: #e8e8e8;
}

/* Seçili olan filtre butonunun stili */
.active-filter {
  background-color: #212529 !important;
  color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
